In [56]:
import pandas as pd

In [57]:
# Load the CSV files into DataFrames
hourly_df = pd.read_csv("../Albany_New_York_Weather/data/hourly_data.csv")
# Display the first few rows from each file to understand their structure
print("Hourly Data Sample:")
display(hourly_df.head())

Hourly Data Sample:

/var/folders/rg/f0wgqkx134d44qr8x102wk3c0000gn/T/ipykernel_92662/2064831816.py:2: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  hourly_df = pd.read_csv("../Albany_New_York_Weather/data/hourly_data.csv")

,STATION,DATE,REPORT_TYPE,SOURCE,BackupElements,BackupElevation,BackupEquipment,BackupLatitude,BackupLongitude,BackupName,...,HourlyDryBulbTemperature,HourlyPrecipitation,HourlyRelativeHumidity,HourlySeaLevelPressure,HourlyStationPressure,HourlyVisibility,HourlyWetBulbTemperature,HourlyWindDirection,HourlyWindSpeed,WindEquipmentChangeDate
0,72518014735,2015-01-01T00:51:00,FM-15,7,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,22,0,46,30.05,29.72,10.0,18,150,10,9/8/2006
1,72518014735,2015-01-01T01:51:00,FM-15,7,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,22,0,48,30.04,29.71,10.0,18,170,8,9/8/2006
2,72518014735,2015-01-01T02:51:00,FM-15,7,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,20,0,52,30.03,29.7,10.0,16,180,6,9/8/2006
3,72518014735,2015-01-01T03:51:00,FM-15,7,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,19,0,57,30.03,29.7,10.0,16,190,7,9/8/2006
4,72518014735,2015-01-01T04:51:00,FM-15,7,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,21,0,52,30.04,29.71,10.0,17,170,8,9/8/2006

In [58]:
three_hour_df = pd.read_csv("../Albany_New_York_Weather/data/three_hour_data.csv")
print("\nThree-Hour Data Sample:")
display(three_hour_df.head())

Three-Hour Data Sample:

,STATION,DATE,REPORT_TYPE,SOURCE,BackupElements,BackupElevation,BackupEquipment,BackupLatitude,BackupLongitude,BackupName,...,HourlyPressureChange,HourlyPressureTendency,HourlyRelativeHumidity,HourlySeaLevelPressure,HourlyStationPressure,HourlyVisibility,HourlyWetBulbTemperature,HourlyWindDirection,HourlyWindSpeed,WindEquipmentChangeDate
0,72518014735,2015-01-01T01:00:00,FM-12,4,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,0.09,8,46,30.05,29.72,9.94,18,150,10,9/8/2006
1,72518014735,2015-01-01T04:00:00,FM-12,4,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,0.02,6,57,30.03,29.7,9.94,16,190,7,9/8/2006
2,72518014735,2015-01-01T07:00:00,FM-12,4,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,-0.02,1,52,30.05,29.72,9.94,17,160,9,9/8/2006
3,72518014735,2015-01-01T10:00:00,FM-12,4,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,-0.01,3,44,30.06,29.72,9.94,21,180,11,9/8/2006
4,72518014735,2015-01-01T13:00:00,FM-12,4,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,0.11,8,38,29.95,29.62,9.94,23,170,15,9/8/2006

In [59]:
daily_df = pd.read_csv("../Albany_New_York_Weather/data/daily_data.csv")

print("\nDaily Data Sample:")
display(daily_df.head())

Daily Data Sample:

,STATION,DATE,REPORT_TYPE,SOURCE,BackupElements,BackupElevation,BackupEquipment,BackupLatitude,BackupLongitude,BackupName,...,DailyPeakWindDirection,DailyPeakWindSpeed,DailyPrecipitation,DailySnowDepth,DailySnowfall,DailySustainedWindDirection,DailySustainedWindSpeed,Sunrise,Sunset,WindEquipmentChangeDate
0,72518014735,2015-01-01T23:59:00,SOD,6,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,190.0,26.0,0.00,0.0,0.0,190.0,20.0,726.0,1632.0,2006-09-08
1,72518014735,2015-01-02T23:59:00,SOD,6,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,250.0,30.0,T,0.0,T,310.0,23.0,726.0,1633.0,2006-09-08
2,72518014735,2015-01-03T23:59:00,SOD,6,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,170.0,21.0,0.57,0.0,1.6,160.0,15.0,726.0,1634.0,2006-09-08
3,72518014735,2015-01-04T23:59:00,SOD,6,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,290.0,33.0,0.22,1.0,0.0,290.0,24.0,726.0,1635.0,2006-09-08
4,72518014735,2015-01-05T23:59:00,SOD,6,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,280.0,42.0,T,0.0,T,290.0,32.0,726.0,1636.0,2006-09-08

In [60]:
monthly_df = pd.read_csv("../Albany_New_York_Weather/data/monthly_data.csv")
print("\nMonthly Data Sample:")
display(monthly_df.head())

Monthly Data Sample:

,STATION,DATE,REPORT_TYPE,SOURCE,AWND,BackupElements,BackupElevation,BackupEquipment,BackupLatitude,BackupLongitude,...,MonthlyMeanTemperature,MonthlyMinSeaLevelPressureValue,MonthlyMinSeaLevelPressureValueDate,MonthlyMinSeaLevelPressureValueTime,MonthlyMinimumTemperature,MonthlySeaLevelPressure,MonthlyStationPressure,MonthlyTotalLiquidPrecipitation,NormalsHeatingDegreeDay,WindEquipmentChangeDate
0,72518014735,2015-01-31T23:59:00,SOM,6,8.9,PRECIP,260,PLASTIC,42.6918,-73.83109,...,19.7,29.32,24.0,1707.0,10.5,30.11,29.77,2.17,1316.0,2006-09-08
1,72518014735,2015-02-28T23:59:00,SOM,6,8.7,PRECIP,260,PLASTIC,42.6918,-73.83109,...,12.7,29.56,15.0,151.0,2.4,30.09,29.75,2.15,1093.0,2006-09-08
2,72518014735,2015-03-31T23:59:00,SOM,6,9.4,PRECIP,260,PLASTIC,42.6918,-73.83109,...,29.8,29.56,17.0,1251.0,20.7,30.10,29.76,1.25,929.0,2006-09-08
3,72518014735,2015-04-30T23:59:00,SOM,6,9.4,PRECIP,260,PLASTIC,42.6918,-73.83109,...,47.8,29.54,21.0,451.0,36.9,29.98,29.66,2.10,520.0,2006-09-08
4,72518014735,2015-05-31T23:59:00,SOM,6,8.3,PRECIP,260,PLASTIC,42.6918,-73.83109,...,65.6,29.71,12.0,1251.0,52.8,30.09,29.77,1.05,235.0,2006-09-08

In [72]:
# Ensure 'DATE' is in datetime format
hourly_df['DATE'] = pd.to_datetime(hourly_df['DATE'], errors='coerce')

# Rename relevant column and convert to numeric
hourly_df.rename(columns={'HourlyDryBulbTemperature': 'Value'}, inplace=True)
hourly_df['Value'] = pd.to_numeric(hourly_df['Value'], errors='coerce')

# Fill missing values
hourly_df.fillna(hourly_df.mean(numeric_only=True), inplace=True)

# Display to verify
print("Transformed Hourly Data:")
display(hourly_df.head())

Transformed Hourly Data:

,STATION,DATE,REPORT_TYPE,SOURCE,BackupElements,BackupElevation,BackupEquipment,BackupLatitude,BackupLongitude,BackupName,...,Value,HourlyPrecipitation,HourlyRelativeHumidity,HourlySeaLevelPressure,HourlyStationPressure,HourlyVisibility,HourlyWetBulbTemperature,HourlyWindDirection,HourlyWindSpeed,WindEquipmentChangeDate
0,72518014735,2015-01-01 00:51:00,FM-15,7,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,22.0,0,46,30.05,29.72,10.0,18,150,10,9/8/2006
1,72518014735,2015-01-01 01:51:00,FM-15,7,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,22.0,0,48,30.04,29.71,10.0,18,170,8,9/8/2006
2,72518014735,2015-01-01 02:51:00,FM-15,7,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,20.0,0,52,30.03,29.7,10.0,16,180,6,9/8/2006
3,72518014735,2015-01-01 03:51:00,FM-15,7,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,19.0,0,57,30.03,29.7,10.0,16,190,7,9/8/2006
4,72518014735,2015-01-01 04:51:00,FM-15,7,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,21.0,0,52,30.04,29.71,10.0,17,170,8,9/8/2006

In [65]:
three_hour_df['DATE'] = pd.to_datetime(three_hour_df['DATE'], errors='coerce')

three_hour_df.rename(columns={'HourlyDryBulbTemperature': 'Value'}, inplace=True)
three_hour_df['Value'] = pd.to_numeric(three_hour_df['Value'], errors='coerce')

three_hour_df.fillna(three_hour_df.mean(numeric_only=True), inplace=True)

print("Transformed Three-Hour Data:")
display(three_hour_df.head())

Transformed Three-Hour Data:

,STATION,DATE,REPORT_TYPE,SOURCE,BackupElements,BackupElevation,BackupEquipment,BackupLatitude,BackupLongitude,BackupName,...,HourlyPressureChange,HourlyPressureTendency,HourlyRelativeHumidity,HourlySeaLevelPressure,HourlyStationPressure,HourlyVisibility,HourlyWetBulbTemperature,HourlyWindDirection,HourlyWindSpeed,WindEquipmentChangeDate
0,72518014735,2015-01-01 01:00:00,FM-12,4,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,0.09,8,46,30.05,29.72,9.94,18,150,10,9/8/2006
1,72518014735,2015-01-01 04:00:00,FM-12,4,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,0.02,6,57,30.03,29.7,9.94,16,190,7,9/8/2006
2,72518014735,2015-01-01 07:00:00,FM-12,4,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,-0.02,1,52,30.05,29.72,9.94,17,160,9,9/8/2006
3,72518014735,2015-01-01 10:00:00,FM-12,4,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,-0.01,3,44,30.06,29.72,9.94,21,180,11,9/8/2006
4,72518014735,2015-01-01 13:00:00,FM-12,4,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,0.11,8,38,29.95,29.62,9.94,23,170,15,9/8/2006

In [66]:
daily_df['DATE'] = pd.to_datetime(daily_df['DATE'], errors='coerce').dt.date

daily_df.rename(columns={'DailyAverageDryBulbTemperature': 'Value'}, inplace=True)
daily_df['Value'] = pd.to_numeric(daily_df['Value'], errors='coerce')

daily_df.fillna(daily_df.mean(numeric_only=True), inplace=True)

print("Transformed Daily Data:")
display(daily_df.head())

Transformed Daily Data:

,STATION,DATE,REPORT_TYPE,SOURCE,BackupElements,BackupElevation,BackupEquipment,BackupLatitude,BackupLongitude,BackupName,...,DailyPeakWindDirection,DailyPeakWindSpeed,DailyPrecipitation,DailySnowDepth,DailySnowfall,DailySustainedWindDirection,DailySustainedWindSpeed,Sunrise,Sunset,WindEquipmentChangeDate
0,72518014735,2015-01-01,SOD,6,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,190.0,26.0,0.00,0.0,0.0,190.0,20.0,726.0,1632.0,2006-09-08
1,72518014735,2015-01-02,SOD,6,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,250.0,30.0,T,0.0,T,310.0,23.0,726.0,1633.0,2006-09-08
2,72518014735,2015-01-03,SOD,6,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,170.0,21.0,0.57,0.0,1.6,160.0,15.0,726.0,1634.0,2006-09-08
3,72518014735,2015-01-04,SOD,6,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,290.0,33.0,0.22,1.0,0.0,290.0,24.0,726.0,1635.0,2006-09-08
4,72518014735,2015-01-05,SOD,6,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,280.0,42.0,T,0.0,T,290.0,32.0,726.0,1636.0,2006-09-08

In [67]:
monthly_df['DATE'] = pd.to_datetime(monthly_df['DATE'], errors='coerce').dt.date

monthly_df.rename(columns={'MonthlyMeanTemperature': 'Value'}, inplace=True)
monthly_df['Value'] = pd.to_numeric(monthly_df['Value'], errors='coerce')

monthly_df.fillna(monthly_df.mean(numeric_only=True), inplace=True)

print("Transformed Monthly Data:")
display(monthly_df.head())

Transformed Monthly Data:

,STATION,DATE,REPORT_TYPE,SOURCE,AWND,BackupElements,BackupElevation,BackupEquipment,BackupLatitude,BackupLongitude,...,Value,MonthlyMinSeaLevelPressureValue,MonthlyMinSeaLevelPressureValueDate,MonthlyMinSeaLevelPressureValueTime,MonthlyMinimumTemperature,MonthlySeaLevelPressure,MonthlyStationPressure,MonthlyTotalLiquidPrecipitation,NormalsHeatingDegreeDay,WindEquipmentChangeDate
0,72518014735,2015-01-31,SOM,6,8.9,PRECIP,260,PLASTIC,42.6918,-73.83109,...,19.7,29.32,24.0,1707.0,10.5,30.11,29.77,2.17,1316.0,2006-09-08
1,72518014735,2015-02-28,SOM,6,8.7,PRECIP,260,PLASTIC,42.6918,-73.83109,...,12.7,29.56,15.0,151.0,2.4,30.09,29.75,2.15,1093.0,2006-09-08
2,72518014735,2015-03-31,SOM,6,9.4,PRECIP,260,PLASTIC,42.6918,-73.83109,...,29.8,29.56,17.0,1251.0,20.7,30.10,29.76,1.25,929.0,2006-09-08
3,72518014735,2015-04-30,SOM,6,9.4,PRECIP,260,PLASTIC,42.6918,-73.83109,...,47.8,29.54,21.0,451.0,36.9,29.98,29.66,2.10,520.0,2006-09-08
4,72518014735,2015-05-31,SOM,6,8.3,PRECIP,260,PLASTIC,42.6918,-73.83109,...,65.6,29.71,12.0,1251.0,52.8,30.09,29.77,1.05,235.0,2006-09-08

In [ ]:
# Aggregate hourly and three-hour data into daily averages
hourly_agg = hourly_df.groupby(hourly_df['DATE'].dt.date)['Value'].mean().reset_index()
three_hour_agg = three_hour_df.groupby(three_hour_df['DATE'].dt.date)['Value'].mean().reset_index()

# Merge the aggregated data
merged_data = pd.merge(hourly_agg, three_hour_agg, on='DATE', how='outer', suffixes=('_hourly', '_3hour'))

# Concatenate daily and monthly data for a summary
summary_data = pd.concat([daily_df[['DATE', 'Value']], monthly_df[['DATE', 'Value']]], ignore_index=True)
summary_data.rename(columns={'Value': 'SummaryValue'}, inplace=True)

In [68]:
# Display the merged data and summary
print("Merged Hourly and Three-Hour Data:")
display(merged_data.head())

Merged Hourly and Three-Hour Data:

         DATE  Value_hourly  Value_3hour
0  2015-01-01     25.958333       25.750
1  2015-01-02     30.750000       30.875
2  2015-01-03     25.583333       25.500
3  2015-01-04     39.458333       38.875
4  2015-01-05     23.625000       24.625

In [69]:
# Display the merged data and summary
print("\nSummary Data (Daily and Monthly):")
display(summary_data.head())

Summary Data (Daily and Monthly):

         DATE  SummaryValue
0  2015-01-01          25.0
1  2015-01-02          32.0
2  2015-01-03          27.0
3  2015-01-04          39.0
4  2015-01-05          27.0

In [70]:
# Save the transformed data to new CSV files
merged_data.to_csv('data/merged_hourly_3hour_data.csv', index=False)
summary_data.to_csv('data/summary_daily_monthly_data.csv', index=False)

print("Transformed data has been saved to 'merged_hourly_3hour_data.csv' and 'summary_daily_monthly_data.csv'")

Transformed data has been saved to 'merged_hourly_3hour_data.csv' and 'summary_daily_monthly_data.csv'